#manage-reservations-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between review items */
}

.reservation-item {
  position: relative; /* Allows absolute positioning of buttons */
  min-width: 360px;

  display: flex;
  flex-direction: row;
  gap: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-image img {
  width: 275px; /* Ensure max width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.manage-buttons {
  position: absolute;
  top: 25px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.manage-buttons button {
  background-color: #f5f5f5;
  width: 100px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.manage-buttons button:hover {
  background-color: #ddd;
}

@media (max-width: 480px) {
  .reservation-item {
    display: flex;
    flex-direction: column;
  }
  .restaurant-image img {
    margin-top: 50px;
  }
}
